<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <helpfulcore>
      <localization>
        <localizationService type="Helpfulcore.Localization.LocalizationService, Helpfulcore.Localization" singleInstance="true">
          <AutoCreateDictionaryItems>true</AutoCreateDictionaryItems>
          <UseDotSeparatedKeyNotaion>true</UseDotSeparatedKeyNotaion>
        </localizationService>
      </localization>
    </helpfulcore>
  </sitecore>
</configuration>